h1 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 400;
  text-decoration: palegoldenrod underline wavy;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace, sans-serif;
}
p {
  letter-spacing: 2px;
  line-height: 1.5;
  background-color: ;
}
